*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Ubuntu", sans-serif;
}

a{
    color: currentColor;
    text-decoration: none;
}

ul, ol{
    list-style: none;
}

.container-full{
    max-width: 100%;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-33{
    width:calc(100%/3);
    padding: 0 5px;
}

.debug{
    border: 2px dotted red;
}

:root{
    --blue: #0061FF;
}

.justify-between{
    justify-content: space-between;
}

header .container-full{
    padding: 20px 20px;
}

.menu{
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 17px;
}

.btn{
    background-color: var(--blue);
    color: white;
    padding: 10px 20px;
}